*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}


nav{
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    padding: 2vw;
    position: relative;
    z-index: 5;
    /* width: 100%; */
    box-shadow: 5px 10px 10px;
    
}
.list{
    display: flex;
    justify-content: space-between;
    
}
.list li {
margin-right: 2vw;
list-style: none;
align-self: center;
color: black;
}
.list li a{
    text-decoration: none;
    color:black;
}
.logo{
    clip-path: polygon(0 0, 91% 4%, 100% 50%, 88% 100%, 0% 100%); 
    border-radius: 1vw;
    align-self: start;
}
.logo img{
    width: 5vw;
    height: 3vw;
    display: block;

}
ul.social i{
transform: scale(1.2);
color: blue;

}
ul.social li:hover{
border-right: 5px solid rgb(48, 238, 48);
border-left: 5px solid red;

}
 .ima img{
     height: 50vw; 
     width: 100%;
    
} 



.banner{
    display: flex;
    background-color: rgb(8, 8, 34);
    justify-content: space-between;
    
}
.pict{
    background-image: url('../images/cvara.png');
    /* background-color: rgb(188, 199, 184); */
    height:50vw;
    width: 40%;
    background-size: cover;
    /* background-blend-mode: luminosity; */
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    

}


.name{
    color: white;
    align-self: center;
    font-size: 40px;
font-weight: lighter;
line-height: 60px;
margin-left: 2vw;

font-family: 'Lato', sans-serif;
/* font-family: 'Lobster', cursive; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Redressed', cursive; */

}
.download{

}
.download a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(29, 29, 3);
    margin-top: 3vw;
    width: 16vw;
    padding: 0.3vw;
    font-size: 1.5vw;
    border-radius: 0.3vw;

}
.download a:hover{
    transform: scale(0.7);
    border-radius: 1vw;
}



    

blockquote{
    color: orangered;
}

#about{
    display: flex;
    justify-content: space-around;
    padding: 3vw;
    background-color: #f0f0f0;
    width: 70%;
    margin: 0 auto;
    margin-top: -3vw;
    
    font-family: 'Open Sans', sans-serif;
    
}
#aboutMe{
    display: flex;
    flex-direction: column;
}



#about h4{
    color: rgb(8, 8, 37);
    font-family: 'Redressed', cursive;
    
}
.des,.front,.enginer {
    margin-left:3vw ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about ul li{
list-style: none;
}
.ala{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 5vw;

    width: 70%;
    margin: 0 auto;
    padding-bottom: 1vw;
    position: relative;
    /* z-index: -3; */
    
    
}
.ala:hover{

    transform: translateY(-3vw);
    
}
.ala h3{
    margin: 0 auto;
}

.it{
    margin-bottom: 3vw;
    border: 1px solid purple;
    padding: 3vw;
    margin-top: 0.8vw;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    border-radius: 1vw;
}
.it h4{
color: orangered;

}
.it p{
    line-height: 50px;
    margin-left: 2vw;
    border-left: 5px solid green;
    margin-top: 2vw;
    margin-bottom: 1vw;
    padding: 1vw;
    
}
.it span{
    color: goldenrod;
}
.it a{
    text-decoration: none;
    color:pink;
    
}
.it a:hover{
    transform: scaleY(2);
    color: greenyellow;

}
.it div{
    margin: 0 auto;
}
.it p:hover{
    border-left: 8px solid maroon;
}

.ala h3{
    font-size: 2vw;
    font-family: 'Lobster', cursive;
}

.front h3{
    color: purple;
    margin-top: -2vw;
    font-family: 'Redressed', cursive;
    font-size: 2vw;
}



.hob{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    background-color: rgb(8, 8, 46);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    align-items: center;
    border-radius: 5px;
    color: goldenrod;
    font-size: 25px;
    position: relative;
    
    
}
.hob h4{
    font-family: 'Lobster', cursive;  
    color: white;
}


.me, .cata{
    transform: rotateZ(20deg);
margin-bottom: 3vw;
line-height: 2.5vw;
margin-left: 2vw;
margin-top: 5vw;
}
.cata li{
list-style: none;
}
.cata i{
    color: greenyellow;
    margin-right: 1vw;
}
.cata h5{
    color: white;
}

.feedback{
    background-color: #f0f0f0;
    padding: 3vw;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.feedback button{
padding: 1vw;
width: 15vw;
color: white;
background-color: purple;
font-size: 1.5vw;
border: none;
border-radius: 1vw;
clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
margin-top: 2vw;
}

.feedback p{
    font-size: 1.5vw;
    color: grey;
    
}
.feedback button:hover{
    transform: scale(1.5);
}

.bot{
    justify-content: center;
    padding: 1vw;
}
.ogaye{
    color: rgb(72, 123, 218);
    transform: translateX(40%);
    
}