*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

nav{
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    padding: 2vw;
    position: relative;
    z-index: 5;
    /* width: 100%; */
    box-shadow: 5px 10px 10px;
    border-bottom: 3px solid red;
}
.list{
    display: flex;
    justify-content: space-between;
    
}
.list li {
margin-right: 2vw;
list-style: none;
align-self: center;
color: black;
}
.list li a{
    text-decoration: none;
    color:black;
}
.logo{
    clip-path: polygon(0 0, 91% 4%, 100% 50%, 88% 100%, 0% 100%); 
    border-radius: 1vw;
    align-self: start;
}
.logo img{
    width: 5vw;
    height: 3vw;
    display: block;

}
ul.social i{
transform: scale(1.2);
color: blue;

}
ul.social li:hover{
border-right: 5px solid rgb(48, 238, 48);
border-left: 5px solid red;

}
.ima img{
    height: 45vw;
    width: 30vw;
}
.banner{
    display: flex;
    background-color: rgb(8, 8, 34);
    justify-content: space-around;
    padding: 5vw;
}